vmlinux
.vscode/
*.tmp
.tmp_*
*.a
*.s
*.map
*.o
*.so
*.cmd
*.lds
*.bin
*.gz
\.version
zImage
vmlinux.debug
arch/i386/boot/tools/build
arch/i386/boot/setup
arch/i386/boot/bootsect
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
include/config/
scripts/conmakehash
scripts/kallsyms
scripts/mod/modpost
scripts/mod/mk_elfconfig
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/initramfs_data.cpio.gz
usr/initramfs_list
include/linux/compile.h
include/asm-i386/asm_offsets.h
