vmlinux
.vscode/
.tmp_*
*.a
*.s
*.map
*.o
*.so
*.cmd
*.lds
\.version
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
include/config/
scripts/conmakehash
scripts/kallsyms
scripts/mod/modpost
scripts/mod/mk_elfconfig
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/initramfs_data.cpio.gz
usr/initramfs_list
include/linux/compile.h